<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> <%= year %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> <%= year %></h1>
	Wunderbar, der Server läuft. Folge <a href="aframe/welcome">diesem Link</a> um zum Workshop zu gelangen.
  </body>
</html>
