<!DOCTYPE html>
<html>
  <head>
    <title>Start of a journey</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <figure>
  <img src="images/uBamberg.png" alt="Universität Bamberg">
  </figure>
  <figure>
  <img src="images/gda.png" alt="Girl's Day Academy">
  </figure> 
  <a href="go">Let's GO!</a>
  </body>
</html>
