<!DOCTYPE html>
<html>
  <head>
    <title>Beispiel-Projekt von A-Frame School mit Animationen</title>
    <meta charset="utf-8">
    <script src="../javascripts/aframe-master.min.js"></script>
  </head>
  <body>
    <a-scene>
      <a-sphere 
        position="0 1.25 -5" 
        radius="1.25" 
        color="#EF2D5E"
        animation="property: position; to: 0 5 -5; dur: 5000; loop:true;">
        <!-- Die Zeile 端ber diesem Kommentar ist das Animation-Attribut der Kugel -->
      </a-sphere>
      <a-box 
        position="-1 0.5 -3" 
        rotation="0 45 0" 
        color="#4CC3D9"
        animation="property: rotation; to: 0 405 0; dur: 5000; loop:true;">
        <!-- Die Zeile 端ber diesem Kommentar ist das Animation-Attribut der Kiste -->
      </a-box>
      <a-cylinder
        position="1 0.75 -3"
        radius="0.5"
        height="1.5"
        color="#FFC65D"
        animation="property: radius; to: 0 ; dur: 5000; loop:true;">
        <!-- Die Zeile 端ber diesem Kommentar ist das Animation-Attribut des Zylinders -->
      </a-cylinder>
      <a-plane
        position="0 0 -4"
        rotation="-90 0 0"
        width="4"
        height="4"
        color="#7BC8A4"
        scale="1 1 1"
        animation="property: scale; to: 3 3 1; dur: 5000; loop:true;">
        <!-- Die Zeile 端ber diesem Kommentar ist das Animation-Attribut der Ebene -->
      </a-plane>
      <a-sky color="#ECECEC"></a-sky>
    </a-scene>
  </body>
</html>