<!DOCTYPE html>
<!-- Diese Datei ist dazu gedacht sie mit der Anleitung beginnend auf http://localhost:3000/anleitung/aufgabe?a=6 zu befüllen -->
<html>
  <head>
    <title>Den Ententeich nachbauen</title>
    <meta charset="utf-8">
    <script src="../javascripts/aframe-master.min.js"></script>
  </head>
  <body>
    <a-scene>
    </a-scene>
  </body>
</html>