
<a href="aufgabe?a=0">
<table>
	<tr>
		<th>Einleitung Teil 0:</th><th>Vorstellen der Werkzeuge</th>
	</tr><tr>
		<td>Behandelte Fragen:</td>
		<td>Was sind die Dateien auf dem Stick? Mit was arbeiten wir?</td>
	</tr>
</table>
</a>