
<a href="aufgabe?a=2">
<table>
	<tr>
		<th>Einleitung Teil 2:</th><th>Erste Schritte mit Notepad++</th>
	</tr><tr>
		<td>Behandelte Fragen:</td>
		<td>Wo finde ich den Texteditor? Wie mache ich Dateien auf?</td>
	</tr>
</table>
</a>
	