
<a href="aufgabe?a=5">
<table>
	<tr>
		<th>A-Frame Teil 3:</th><th>Animation von Attributen</th>
	</tr><tr>
		<td>Behandelte Fragen:</td>
		<td>Was ist ein Animation-Attribut? Welche Eigenschaften kann man animieren?</td>
	</tr>
</table>
</a>