<a href="aufgabe?a=7">
<table>
	<tr>
		<th>Ententeich Teil 2:</th><th>Die Ente schwimmen lassen</th>
	</tr><tr>
		<td>Was wird gezeigt:</td>
		<td>Wie man die Ente importiert und sie im Kreis schwimmen lässt.</td>
	</tr>
</table>
</a>