<a href="aufgabe?a=6">
<table>
	<tr>
		<th>Ententeich Teil 1:</th><th>Gras und Wasser und Ente</th>
	</tr><tr>
		<td>Was wird gezeigt:</td>
		<td>Wie man den Teich mit Wasser und Ufer anlegt-</td>
	</tr>
</table>
</a>