
<a href="aufgabe?a=4">
<table>
	<tr>
		<th>A-Frame Teil 2:</th><th>Objekte und Attribute</th>
	</tr><tr>
		<td>Behandelte Fragen:</td>
		<td>Wie setzte ich eine Box an eine bestimmte Position im Raum? Wie definiere ich ihre Gestalt?</td>
	</tr>
</table>
</a>
	