
<a href="aufgabe?a=3">
<table>
	<tr>
		<th>A-Frame Teil 1:</th><th>Erste Schritte mit A-Frame</th>
	</tr><tr>
		<td>Behandelte Fragen:</td>
		<td>Wie lese ich einen A-Frame? Was bedeuten die Tags?</td>
	</tr>
</table>
</a>