<a href="aufgabe?a=8">
<table>
	<tr>
		<th>Ententeich Teil 3:</th><th>Licht und Schatten</th>
	</tr><tr>
		<td>Was wird gezeigt:</td>
		<td>Wie man ein Lichtquelle platziert. Wie man Objekte dazu bringt Schatten zu werfen.</td>
	</tr>
</table>
</a>