<a href="aufgabe?a=9">
<table>
	<tr>
		<th>Freies Arbeiten:</th><th>Lege deinen eigenen A-Frame an und gestalte ihn nach deinen Vorstellungen</th>
	</tr><tr>
		<td>Was wird gezeigt:</td>
		<td>Wie du deine eigene Datei anlegst und sie im Browser anzeigen kannst.</td>
	</tr>
</table>
</a>