
<a href="aufgabe?a=1">
<table>
	<tr>
		<th>Einleitung Teil 1:</th><th>Erste Schritte mit Node.JS</th>
	</tr><tr>
		<td>Behandelte Fragen:</td>
		<td>Was macht der Server? Warum sehe ich meine Änderungen nicht sofort?</td>
	</tr>
</table>
</a>
	