<h2>Aufruf von Notepad++</h2>
<p>

Du findest Notepad++ auf dem USB-Stick im Unterordner <em>NotePad</em> des Orders <em>GDA</em>.
Führe in diesem Verzeichnis die Datei <em>notepad++.exe</em> aus.

</p>
<h2>Öffnen von Dateien</h2>
<p>

Gehe, nachdem du NotePad++ geöffnet hast, zurück in das Verzeichnis <em>GDA</em>.
<br>
Wechsle jetzt zu <em>Views</em> und dann in das Verzeichnis <em>freiesArbeiten</em>.
<br>
Ziehe jetzt die Datei <em>beispiel_mit_kommentaren.ejs</em> in das Notepad++, um dir den Inhalt anzeigen zu lassen.

</p>
<h2>Ändern des Highlightings</h2>
<p>

In der geöffneten Datei sollten etliche Textstellen farbig hervorgehoben sein.
Falls dies nicht der Fall ist, hat Notepad++ das Highlighting nicht richtig erkannt.
Klicke auf den Menüpunkt <em>Language</em>, um eine Auswahl an Sprachen zu sehen, für die das Notepad++ Syntax-Highlighting anbietet.
Die Liste ist alphabetisch sortiert und unter <em>J</em> befindet sich der Auswahlpunkt <em>JSP</em>.
Wähle diesen aus um die farbigen Hervorhebungen in der gerade ausgewählten Datei zu sehen.

</p>
<h2>Schließen von Dateien</h2>
<p>

Notepad++ erstellt automatisch einen neuen Reiter, wenn du eine neue Datei öffnest.
Um eine Datei zu schließen, klicke auf das Kreuz im Reiter der Datei, die du schließen willst,
 oder klicke mit der mittleren Maustaste auf den Titel des entsprechenden Reiters
 oder drücke die Tastenkombination <em>Strg+W</em>.
Hast du Änderungen an der Datei vorgenommen (rotes Diskettensymbol im Reiter), fragt dich Notepad++ vor dem Schließen, ob du diese speichern möchtest.

</p>
<h2>Speichern von Änderungen</h2>
<p>

Wenn du Änderungen an einer Datei vornimmst, verfärbt sich das blaue Diskettensymbol im Reiter rot.
Notepad++ überträgt nicht automatisch deine Änderungen an die geöffnete Datei, sondern dazu musst du deine Änderungen speichern.
Dies tust du für den aktuell ausgeführten Reiter, indem du auf den Disketten-Button in der Menüleiste klickst oder die Tastenkombination <em>Strg+S</em> drückst.
Du kannst außerdem die Änderungen aus allen Reitern gleichzeitig speichern, indem du den Button mit den vielen Disketten (direkt neben der einzelnen Diskette)
 oder die Tastenkombination <em>Strg+Shift+S</em> drückst.

</p>

<h2></h2>